<tr>
  <td><%= campaign.title %></td>
  <td><%= campaign.beneficiary %></td>
  <td><%= campaign.description %></td>
  <td><%= link_to "Ver donactions", campaign_donations_path(campaign) %></td>
</tr>
